body {
  font-family: "Raleway", sans-serif;
  background-color: #fefefe;
}

a:hover {
  text-decoration: none;
}

.weatherBox {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.weatherBox:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.15);
}
